<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--开启mybatis的日志-->
        <setting name="logImpl" value="STDOUT_LOGGING" />
        <!--调用sql相关方法之后可以看待输出发生了变化-->
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/sql_hr"/>
                <property name="username" value="root"/>
                <property name="password" value="xuyong612"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper resource="com/Mybatis/TestMapper.xml"/>-->
        <!--    这里用的是url，也可以使用其他类型，我们会在后面讲解    -->
        <!--改用注解-->
        <mapper class="com.Mybatis.TestMapper"/>
        <!--  也可以直接注册整个包下的 <package name="com.test.mapper"/>  -->
    </mappers>
</configuration>